<div class="row mt-5">
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Właściciel</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if properties is empty %}
                <tr>
                    <td colspan="4" class="text-center">Dodaj nieruchomość lub przyjmij zaproszenie</td>
                </tr>
            {% endif %}
            {% set i = 0 %}
            {% for property in properties %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{ property.name }}</td>
                    <td>{{ property.owner.email }}</td>
                    <td>
                        {% if app.user.currentProperty == property %}
                            <i class="fa-solid fa-star currentPropertyIcon changeCurrentPropertyButton" propertyId="{{ property.id }}"></i>
                        {% else %}
                            <i class="fa-regular fa-star changeCurrentPropertyButton" propertyId="{{ property.id }}"></i>
                        {% endif %}
                        {% if app.user == property.owner %}
                            <i class="fa-solid fa-trash deletePropertyButton" propertyId="{{ property.id }}"></i>
                        {% endif %}
                    </td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>