<div class="row mt-5">
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Kwota całkowita</th>
                <th scope="col">Kwota do zapłaty</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if bills is empty %}
                <tr>
                    <td colspan="4" class="text-center">Brak rachunków</td>
                </tr>
            {% endif %}
            {% set i = 0 %}
            {% for bill in bills %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{ bill.name }}</td>
                    <td>{{ bill.pricetotal }}</td>
                    <td>{{ (bill.pricetotal/bill.splitOn) | round(2) }}</td>
                    <td>{{ bill.createdAt | date("m/d/Y") }}</td>
                    <td>
                        {% if app.user == app.user.currentProperty.owner %}
                            <i class="fa-regular fa-pen-to-square updateBillModal" billId="{{ bill.id }}"></i>
                        {% else %}
                            {% if app.user in bill.paidBy %}
                                <i class="fa-regular fa-thumbs-up"></i>
                            {% else %}
                                <i class="fa-regular fa-thumbs-down"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>